html, body, #map-canvas {
	height: 100%;
	margin: 0px;
	padding: 0px
}

* {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

#map-form {
	position: absolute;
	left: 10px;
	z-index: 10000;
	display: none;
	box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.5);
	padding: 5px 10px;
	width: 150px;
	top: 100px;
/*	transform: translateY(-50%); */
	text-align: center;
}

select[multiple] {
  height:350px;
	width: 150px;
  display: block;
}
	#aliases {
		height: 150px;
	}

	#dates {
		height: 75px;
	}

#info {
	background-color: white;
	padding: 10px 10px;
	font-size: 0.7rem;
	margin-top: 10px; margin-bottom: 5px;
	border: 1px solid #333;
	font-family: "Consolas", monospaced;
	text-align: left;
}

	#info br {
		display: block;
		content: " ";
		margin-bottom: 5px;
	}

#timeline-all, #aliases-all, #dates-all {
	margin: 0px auto 5px; 
	padding: 7px 10px;
	font-size: 0.7rem;
}
    .map-marker-label{
        position: absolute;
    color: blue;
    font-size: 16px;
    font-weight: bold;
    }

.infobox {
	border: 1px solid black;
	background-color: white;
	text-align: center;
	padding: 2px 4px;
	border-radius: 5px;
	color: black;
	text-shadow: 0px 0px 1px white;
	font-family: consolas, monospaced;	
	font-size: 7pt;
/*	width: 50px;
*/	display: none;
}
.infobox:hover { opacity: 1; }

.poibox {
        border: 1px solid black;
        background-color: white;
        text-align: center;
	border-radius: 5px;
	opacity: 0.5;
	white-space: nowrap;
	text-overflow: ellipsis;
	z-index: 99999999;
	width: 50px;
	padding: 2px 4px;
	overflow: hidden;
	display: none;
}
	.poibox:hover { opacity: 1; }

.poibox-hospital {
background-color: black;
color: #EFEFEF;
width:20px;
}

#poi-toggle-container,
#night-toggle-container,
#label-toggle-container {
	font-size: 0.7em;
	margin-bottom: 5px;
	margin-top: 5px;
	vertical-align: center;
/*	border: 1px solid #333;
	background-color: rgba(0,0,0, 0.5);*/
}

#poi-toggle-container label,
#night-toggle-container label,
#label-toggle-container label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}

#poi-toggle-container input,
#night-toggle-container input,
#label-toggle-container input {
  width: 13px;
  height: 13px;
  padding: 0;
  margin:0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;
}

#loading {
	margin: 0 auto;
	text-align: center;
	width: 100px;
	position: relative;
	top: 50%;
	background-color: white;
	border: 3px solid gray;
	padding: 15px 10px 10px;
}
.spinner {
	border: 16px solid #f3f3f3; /* Light grey */
	border-top: 16px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 32px;
	height: 32px;
	animation: spin 2s linear infinite;
	margin: 0 auto 10px;
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }